{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            },
            "loose": true,
            "modules": false
        }],
        "stage-0",
        "react"
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "lib",
            "style": true
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "test": {
            "presets": [
                ["env", {
                    "targets": {
                        "node": "current"
                    }
                }],
                "react",
                "stage-0"
            ],
            "plugins": [
                ["import", {
                    "libraryName": "antd",
                    "libraryDirectory": "lib",
                    "style": false
                }]
            ]
        }
    }
}